/*
Theme Name: LucienLafont Theme
Description: Theme enfant de LucienLafont.fr p
Author: Thibaud Lafont - Sysmod-Web
Author URI: https://sysmod-web.fr
Template: twentyseventeen 
Version: 0.1.0
*/

/* Gallerie group */
/*#post-98 .entry-content,
#post-260 .entry-content,
#post-266 .entry-content{
	width: 100% !important;
}*/


/*Gallery show*/
span.bwg_popup_image_spun2 {
	background: #1c1c1c;
}

a.bwg_back_0 {
    width: 30% !important;
    margin: auto !important;
    background: #333333 !important;
    border: 2px solid white !important;
    margin-bottom: 20px !important;
	color: white !important;
}
.fa-remove:before, .fa-close:before, .fa-times:before {
    content: "\f00d";
		color: white;
}